apiVersion: tekton.dev/v1alpha1
kind: Task
metadata:
  name: {APPNAME}-deploy-dev
  namespace: {DEVOPSNS}
spec:
  inputs:
    resources:
      - name: {APPNAME}-gitsrc
        type: git
      - name: {APPNAME}-image
        type: image
    params:
      - name: pathToYamlFile
        description: The path to the yaml file to deploy within the git source
      - name: devns
        description: Development namespace for testing
  steps:
  - name: modify-app-deploy-yaml
    image: registry.access.redhat.com/ubi8/ubi:latest
    workingDir: /workspace/{APPNAME}-gitsrc
    command: ["/bin/bash"]
    args:
      - -c
      - |
        set -e
        SHORT_GIT_HASH="$(cat .git/FETCH_HEAD | awk '{print substr($1,0,7)}')"
        NEW_IMAGE_ID="$(inputs.resources.{APPNAME}-image.url):$SHORT_GIT_HASH"
        echo "SHORT_GIT_HASH = $SHORT_GIT_HASH"
        echo "Using Image $NEW_IMAGE_ID"
        sed -i -e 's|__IMAGE__|'"$NEW_IMAGE_ID"'|g' /workspace/{APPNAME}-gitsrc/$(inputs.params.pathToYamlFile)/deployment.yaml
        sed -i -e 's|__IMAGE__|'"$NEW_IMAGE_ID"'|g' /workspace/{APPNAME}-gitsrc/$(inputs.params.pathToYamlFile)/deployable.yaml
  - name: deploy-image
    image: ibmgaragetsa/cpeir-runtime:v0.001
    command: ["/bin/bash"]
    args:
        - "-c"
        - |
          set -e
          oc apply -f /workspace/{APPNAME}-gitsrc/$(inputs.params.pathToYamlFile)/deployment.yaml -n $(inputs.params.devns)
          oc apply -f /workspace/{APPNAME}-gitsrc/$(inputs.params.pathToYamlFile)/service.yaml -n $(inputs.params.devns)
          if [ -f /workspace/{APPNAME}-gitsrc/$(inputs.params.pathToYamlFile)/route.yaml ]; then
            oc apply -f /workspace/{APPNAME}-gitsrc/$(inputs.params.pathToYamlFile)/route.yaml -n $(inputs.params.devns)
          fi
